node_modules/
.env
todo.*
test.js

# Dev Google Vision file
Vision-test-0d87ab709fc0.json

# Prod Google Vision file
sparklist2020-270319-39eb0709284b.json

# Docker
Dockerfile
*.yml
*.yaml

# Kubernetes
cluster-setup/

# Nginx
nginx/


# DB updates
db-updates/
