.home-main {
  background-image: url("/img/stars.jpg");
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}

.font-sen {
  font-family: "Sen", sans-serif;
}

#white-body {
  margin-bottom: 20rem;
}