.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem; /* You can set the dimensions to whatever you want */
  object-fit: scale-down;
}
.card-img-price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem; /* You can set the dimensions to whatever you want */
  height: 35rem;
  object-fit: scale-down;
}
.price-card {
  width: 30rem;
}

.card-sim-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13rem; /* You can set the dimensions to whatever you want */
  height: 14rem;
  object-fit: scale-down;
}

.card-title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 3em;
  max-height: 3em;
  line-height: 1.5em;
}

.price-graph {
  margin: auto;
}
