<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../../partials/header.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Item</title>
</head>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container mb-5">
        <h2 class='my-4'>Find Item</h2>
        <hr class="my-4">

        <!-- <form method="POST" action="/item/scrape"> -->
        <form action="/item/scrape" method="POST">

            <div class="form-group">

                <label for="itemName">Item Name</label>
                <input type="text" class="form-control" name="itemName" placeholder="search">
            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div> <!-- END CONTAINER -->
    <%- include ('../../partials/endBody.ejs') %>
</body>

</html>