<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../partials/header.ejs') %>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>

<body>

  <form id = "addItemform" method = "POST" action="/addItem">
    <label for="URL">URL </label><input type="text" id="URL" name="URL"><br><br>
    <input type="submit" value="add">
  </form>
 
 

  <%- include ('../partials/endBody.ejs') %>
</body>


</html>