<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <%- include ('../partials/header.ejs') %>
  <title>Register</title>
</head>

<body>

  <div class="sidenav">
    <div class="login-main-text">
       <h2 class="logo">SparkList</h2>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="register-form">
        <h2>Register</h2>
        <form action="/user/create" method="POST">
          <% if (failed) { %>
          <div class="alert alert-danger" role="alert" id="register-error-msg">
            User with entered email already exists. Please try again.
          </div>
          <% } %>
          <div class="form-group">
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
          </div> 
          <div class="form-group">
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
  
          <button type="signup" class="btn btn-black" style="color: #fff;">Register</button>
        </form>
       </div>
    </div>
</div>

</body>

</html>
